/stress1DLC_resnet50_LezzgoMay24shuffle1_800000_filtered_labeled.mp4
/stress2DLC_resnet50_LezzgoMay24shuffle1_800000_filtered_labeled.mp4
/stress3DLC_resnet50_LezzgoMay24shuffle1_800000_filtered_labeled.mp4
/stress5DLC_resnet50_LezzgoMay24shuffle1_800000_filtered_labeled.mp4